<mat-progress-bar mode="buffer"></mat-progress-bar>
<div id="search-box">

    <mat-form-field appearance="standard" >
        
        <mat-label>输入包裹单号</mat-label>
        <input maxlength="12" 
        matInput type="search" 
        [(ngModel)]="inputPackageId" 
        placeholder="CL12345678US"
        (keydown.enter)="getTrackingInfo()"
        autocomplete="off"
        >
        <button mat-icon-button (click)="getTrackingInfo()" matSuffix >
            <mat-icon>search</mat-icon>
        </button>

    </mat-form-field>

    <app-package-info *ngIf="this.displayInfo" [info]="this.displayInfo"></app-package-info>
</div>
