  .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
footer {
  position: absolute;
  bottom: 0;
}
.spacer {
  flex: 1 1 auto;
}

mat-sidenav{
  box-shadow: 5px 0px 5px -5px black;
}
#title{
  box-shadow: 0px 3px 10px black;
}