#main {
    /* margin: 0%; */
    margin-top: 0;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
}

:host /deep/ .mat-list-item-content {
    font-size: 1rem;
}
