<div>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>local_phone</mat-icon>
            <a href="tel:(626)365-6688"> (626)365-6688</a>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon>gps_fixed</mat-icon>
            <a href="https://goo.gl/maps/9PYzCKyS6Rp74VXXA"> 710 E Garvey Ave., Unit B, Monterey Pakr, CA 91755</a>
        </mat-list-item>
        
        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon class="wechat-logo " mat-list-icon></mat-icon>
                L6263656688
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="wechat-twod">
            <div >

            </div>
        </mat-list-item>

    </mat-list>
</div>
