div {
    display: flex;
    justify-content: center;
    height: auto;
}

div>mat-list {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 3%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

.wechat-logo {
    background: url('https://api.iconify.design/mdi-wechat.svg') no-repeat center center / contain;
}

a {
    font-size: 20px;
}

mat-list-item {
    padding: 0;
}

.wechat-twod {
    margin: auto;
    height: 500px;
    width: 500px;
    background: url('../../../../assets/wechat-2d') no-repeat center center / contain;
}

@media only screen and (max-width: 768px) {
    .wechat-twod {
        margin: auto;
        height: 200px;
        width: 200px;
        background: url('../../../../assets/wechat-2d') no-repeat center center / contain;
    }
}